[submodule "zig_fhn/3rd/requestz"]
	path = zig_fhn/3rd/requestz
	url = git@github.com:ducdetronquito/requestz.git
[submodule "zig_fhn/3rd/zig-network"]
	path = zig_fhn/3rd/zig-network
	url = git@github.com:MasterQ32/zig-network.git
[submodule "zig_fhn/3rd/http"]
	path = zig_fhn/3rd/http
	url = git@github.com:ducdetronquito/http.git
[submodule "zig_fhn/3rd/h11"]
	path = zig_fhn/3rd/h11
	url = git@github.com:ducdetronquito/h11.git
[submodule "zig_fhn_ziget_iguana/3rd/ziget"]
	path = zig_fhn_ziget_iguana/3rd/ziget
	url = git@github.com:marler8997/ziget.git
[submodule "zig_fhn_ziget_iguana/3rd/iguanaTLS"]
	path = zig_fhn_ziget_iguana/3rd/iguanaTLS
	url = git@github.com:alexnask/iguanaTLS.git
